body{
  background-color: #e9ecef;
  font-family: sans-serif;
}

header.navbar {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  padding: 1rem 2rem;
  background: #e9ecef;

}
header.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
   margin-right: 2rem;
}
header.navbar .nav-links {
  display: flex;
  gap: 1rem;
  /*margin-left: 2rem;*/
}
header.navbar .nav-links a {
  color: rgb(57, 55, 55);
  text-decoration: none;
  font-size: 1rem;
  padding: 0.4rem 0.6rem ;
}
header.navbar .search-right {
  flex: 1;
  /*max-width: 400px;*/
  margin-left: 43%;
}


header.navbar .search-right input {
  width: 100%;
  /*max-width: 80%;*/
  padding: 1rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ced4da;

}


.cart {
  position: relative;
  margin-left: 3.5rem;
  cursor: pointer;
  background-color: #ced4da;
  font-size: 0.7rem;
  padding: 8px 8px;
  border-radius: 20%;

}

/*.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;

  color: white;
  font-size: 0.7rem;
  padding: 3px 6px;
  border-radius: 50%;
}
*/


@media (max-width: 768px) {
  header.navbar {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  header.navbar .search-right {

    width: 100%;
    margin: 0.5rem 0;
  }
  header.navbar .nav-links {
    width: 100%;
    justify-content: center;
  }
}



.search-bar {
  padding: 1rem 2rem;
  margin:0% 10%;
}
.search-bar input {
  width: 100%;
  max-width: 97%;
  padding: 1rem 1rem;
  font-size: medium;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #e7e7e7;
}

.sort-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.sort-buttons button {
  padding: 0.5rem 1rem;
  background-color: #e7e7e7;
  border: 1px solid #999;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sort-buttons button:hover {
  background-color: #7a7373;
}

.sort-buttons button.active {
  background-color: #d1d1d1;
  color: black;

}


.product-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  padding: 0.5rem 12%;
}
.product-card {
  background: #ced4da;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s;
}
.product-card:hover {
  transform: translateY(-5px);
}
.product-card img {
  width: 100%;
  aspect-ratio: 1/1;

}
.product-info {
  padding: 1rem;
}
.product-info h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.product-info p {
  color: #0f0c0c;
  font-size: 1rem;
}



.addcart button {
  padding: 0.6rem 1.2rem;
  background: #b0b1b2;
  margin:0px;
  color: rgb(26, 25, 25);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.addcart button:hover {
  background: #3e3f40;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background: rgb(192, 174, 174);
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  text-align: center;
}



.close {
  background: #8e898a;
  color: rgb(35, 33, 33);
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.close:hover {
  background: #3d3b3b;
}
